<% if @connected == @creator %>

<section class="slice-xl" style="background-image: url(<%= asset_path 'soccer/cheering-crowd-event-17598.jpg' %>); background-position: bottom center;">
	<span class="mask mask-dark--style-2"></span>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="py-5 text-center">
					<h1 class="heading heading-1 c-white strong-400 text-normal">
						 C'est ici pour éditer ton évènement
					</h1>

					<span class="clearfix"></span>

				</div>
			</div>
		</div>
	</div>
</section>
<section>
  <div class="container">
      <div class="py-5 text-center">
        <h2>Regardes le match avec des personnes prés de chez toi!</h2>
        <p class="lead">Parce que la coupe du monde est un moment de joie, de convivialité et de partage, invite des gens à venir voir le match chez toi et vivre un grand moment de football.</p>
      </div>
  </div>
</section>


<section>
	<div class="container">

		<%= render 'form_edit', event: @event %>

		<div style="margin: 5px 0 5px 0">
			<%= link_to "Voir l'événement", @event %> |
			<%= link_to 'Retour', events_path %>
		</div>
		
	</div>
</section>

<% else %>

	Quoi Bim BOOM
<% end %>