<section class="slice-xl" style="background-image: url(<%= asset_path 'soccer/cheering-crowd-event-17598.jpg' %>); background-position: bottom center;">
	<span class="mask mask-dark--style-2"></span>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="py-5 text-center">
					<h1 class="heading heading-1 c-white strong-400 text-normal">
						 Créez votre évènement
					</h1>

					<span class="clearfix"></span>

					<div class="fluid-paragraph fluid-paragraph-sm c-gray-light strong-300 text-center c-white mt-3">
					Ou inscris toi à un de ces évènements.</br>
					Vibre devant les matchs de la CDM avec d'autres fans de foot!
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
  <div class="container">
      <div class="py-5 text-center">
        <h2>Regardes le match avec des personnes prés de chez toi!</h2>
        <p class="lead">Parce que la coupe du monde est un moment de joie, de convivialité et de partage, invite des gens à venir voir le match chez toi et vivre un grand moment de football.</p>
      </div>
  </div>






<div class="container">

	<%= render 'form', event: @event %>

	<%= link_to 'Back', events_path, class:'d-block mt-3 mb-3' %>
	
</div>
