<section class="slice-xl" style="background-image: url(<%= asset_path 'soccer/cheering-crowd-event-17598.jpg' %>); background-position: bottom center;">
	<span class="mask mask-dark--style-2"></span>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="py-5 text-center">
					<h1 class="heading heading-1 c-white strong-400 text-normal">
						 Créez votre événement
					</h1>

					<span class="clearfix"></span>

					<div class="fluid-paragraph fluid-paragraph-sm c-gray-light strong-300 text-center c-white mt-3">
					Ou inscris toi à un de ces évenements
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="slice">
	<div class="container">
		<div class="row align-items-center cols-xs-space cols-sm-space cols-md-space">
			<div class="col-lg-6 mt--150">
				<!-- Map canvas -->
				<div id="google-map">
					<!-- #google-container will contain the map  -->
					<div id="map_canvas" class="map-canvas" style="" data-google-lat="44.450185" data-google-long="26.107762"></div>
				</div>
			</div>

			
		</div>
	</div>
</section>




<h1>Vibre devant les matchs de la CDM avec d'autres fans de foot!</h1>


<%= render 'form', event: @event %>

<%= link_to 'Back', events_path %>
