<section class="slice-xl" style="background-image: url(<%= asset_path 'soccer/cheering-crowd-event-17598.jpg' %>); background-position: bottom center;">
	<div class="container">
	    <div class="row">
	      	<div class="col-12">
	        	<div class="py-5 text-center">
		          	<h1 class="heading heading-1 c-white strong-400 text-normal">
		            	Demande de confirmation par email
		         	</h1>
					<span class="clearfix"></span>
	     		</div>
	 		</div>
		</div>
	</div>
</section>

<section>
	<div class="container" style="margin-top: 30px;margin-bottom: 30px">
		<% if @event.users.include?(@demandor) %>

			<p>Tu participes déjà à l'événement! </p>

		<% else %>

			<p>Ta demande a bien été envoyée par mail à <%= User.find(@event.user_id).firstname %>, tu recevras un mail de confirmation dès qu'il ou elle validera ta demande! </p>

		<%end%>
		<br>
		<br>
		<br>
	</div>
</section>
