<% if @event.users.include?(@demandor) %>

<p>Tu participes déjà à l'événement! </p>

<% else %>

<p>Ta demande a bien été envoyée par mail à <%= User.find(@event.user_id).firstname %>, tu recevras un mail de confirmation dès qu'il ou elle validera ta demande! </p>

<%end%>