// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.notice-flash {
	margin: 0;
	padding: 0;
	color: #3FA858;

}

.alert-flash {
	margin: 0;
	padding: 0;
	border: 0;
	color: #FF2243FF;
}

.form-container {
	width: 100%;
	height: 300px;
	background-color: yellow;
	position: relative;
	top: -50px;
	border-radius: 10px;
}

.title-form-search {
	font-size: 20px;
	color: red;
	margin-top: 20px;
}

.btn-search {
	margin-top: 20px;
}

// view result

#mapbar {
  display: flex;
}
#map {
  height: 500px;
  width: 50%;
  display: flex;

}
#bartender {
  height: 500px;
  width: 50%;
  display: flex;

}


.block-price-over {
	font-size: 0.8rem !important;
	width: 190px !important;
	margin-left: -90px !important;
}