<p>Bonjour <%= @email %>!</p>

<p>YVous pouvez valider votre adresse mail en cliquant sur le lien suivant :</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
<br>
<p>A bientôt</p>
