<p>Hello <%= @resource.email %>!</p>

<p>Votre compte a été bloqué suite à un nombre de tentatives de connexions trop élevé.</p>

<p>CPour débloquer votre comptez, veuillez suivre le lien suivant :</p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p>

<p>A bientôt</p>